.apiCard {
  background-color: rgba(250, 250, 250, 0.8);
}

.smCardTitle {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.smCardDesc {
  font-size: 14px;
  line-height: 21px;
  color: #495057;
}
